{% extends "base.j2" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<h2 class="text-3xl">status</h2>
<p>まだ完成できていません。もうちょっと待っててね</p>
<p id="test"></p>
<canvas id="cpu"></canvas>
<script>
$.ajax("https://api.hortbot.cf/status").done(function(data) {
    console.log(data)
    const labels = []
    const datasets = []
    const data2 = []
    for (let i in data) {
      for (let n in data[i]) {
        if (n === "time") {
          break
        }
        labels.push(data[i]["time"])
        data2.push(data[i][n])
        $("#test").text(n)
        datasets.push(
          {
            label: n,
            data: data2,
          }
        )
      }
    }
    const info = {
      labels: labels,
      datasets: datasets
    };
    new Chart(
      document.getElementById('cpu'),
      {
        type: "line",
        data: info,
        options: {}
      }
    )
})
</script>
{% endblock %}
